<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.way.tabui.gokit"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="3"
          android:versionName="1.2.5">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RIDE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 后加权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 极光推送 -->
    <permission
        android:name="com.way.tabui.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.way.tabui.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 极光推送 -->


    <!-- 百度推送 -->
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <!-- 百度推送 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 乐鑫配置库中使用的权限（WIFI组播） -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>

    <application
        android:name="com.way.tabui.GosApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--&lt;!&ndash; 百度自动更新SDK   Appid配置,AppKey配置&ndash;&gt;-->
        <meta-data android:name="BDAPPID" android:value="9779347"/>
        <meta-data android:name="BDAPPKEY" android:value="vjZg1l5uwHm02vkoSFH98LBvHTEIxusj"/>
        <!-- 百度自动更新SDK -->
        <activity
            android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/bdp_update_dialog_style_fullscreen"/>


        <activity
            android:name="com.way.tabui.actity.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>

        <activity
            android:name="com.way.tabui.usermodule.GosUserLoginActivity"
            android:theme="@android:style/Theme.Holo.Light">
            <!--TODO-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.way.tabui.cevicemodule.GosDeviceListActivity"
            android:theme="@android:style/Theme.Holo.Light">

        </activity>
        <activity
            android:name="com.way.tabui.actity.EsptouchDemoActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.actity.IntelligentSocketActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.actity.TcpActivity"
            android:label="@string/title_activity_tcp_ip">
        </activity>
        <activity
            android:name="com.way.tabui.actity.SmartLightActivity"
            android:label="@string/title_activity_smart_light"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.way.tabui.actity.PreviewActivity"
            android:label="@string/title_activity_preview"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>

        <activity
            android:name="com.way.tabui.usermodule.GosRegisterUserActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.actity.AddOcdeviceActivity"
            android:label="@string/title_activity_add_ocdevice"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.usermodule.GosForgetPasswordActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosDeviceReadyActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosDeviceResetActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosChooseDeviceActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosConfigCountdownActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosConfigFailedActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity
            android:name=".SmartSwitchListActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.actity.UpdataActivity"
            android:label="@string/title_activity_updata"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="zxing.CaptureActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.way.tabui.settingsmodule.GosAboutActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.settingsmodule.GosSettiingsActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosCheckDeviceWorkWiFiActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.controlmodule.GosDeviceControlActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosModeListActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosAirlinkChooseDeviceWorkWiFiActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosAirlinkReadyActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.configmodule.GosAirlinkConfigCountdownActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.way.tabui.controlmodule.GosColorsListActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".AlertmesActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".AirConditionListActivity"
            android:label="@string/title_activity_air_con_mes"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".AirConBrandActivity"
            android:label="@string/title_activity_air_con_brand"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <!--灯光/插座/开关-->
        <activity
            android:name=".SmartSwitchTypeListActivity"
            android:label="@string/title_activity_switch_type"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".SmartSwitchActivity"
            android:label="@string/title_activity_smart_switch"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".AirMateActivity"
            android:label="@string/title_activity_air_mate"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <!-- 智能窗帘列表 -->
        <activity
            android:name=".SmartCurtainListActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <!-- 智能窗帘 -->
        <activity
            android:name=".SmartCurtainActivity"
            android:label="@string/title_activity_smart_curtain"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105483220"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <activity android:name="com.showmo.demo.maincotent.MainContentActivity"
                  android:label="@string/title_activity_showmo_demo"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity
            android:name="com.showmo.demo.account.ModifyPswActivity"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.showmo.demo.account.AccountActivity"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.play.DeviceslistActivity"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.adddevice.AddDeviceUserEnsure"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.adddevice.AddDeviceSetNetworkActivity"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.adddevice.AddDeviceUserTipClose"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.adddevice.AddDeviceConfigSearchActivity"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.login.ResetDeviceActivity"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.login.RegisterActivity"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.login.RegisterActivity2"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.showmo.demo.play.PlayActivity"
            android:label="@string/title_activity_showmo_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".PromailActivity"
            android:label="@string/title_activity_promail"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".AllMessageActivity"
            android:label="@string/title_activity_all_message"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".SetMailActivity"
            android:label="@string/title_activity_set_mail"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".SmartAirConditionActivity"
            android:label="@string/title_activity_smart_air_condition"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity android:name=".SmartDoorActivity"
                  android:label="@string/title_activity_smart_door"
                  android:theme="@android:style/Theme.Holo.Light">

        </activity>
        <activity
            android:name="com.way.tabui.settingsmodule.SetBundMesActivity"
            android:label="@string/title_activity_set_bund_mes"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <!-- 物业报修 -->
        <!--<activity-->
        <!--android:name="com.property.activity.InformActivity"-->
        <!--android:label="@string/title_activity_inform"-->
        <!--android:theme="@android:style/Theme.Holo.Light" >-->
        <!--</activity>-->
        <activity
            android:name="com.property.activity.BaoxiuguanliActivity"
            android:label="@string/title_activity_inform"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity android:name="com.property.activity.BaoxiushenqingActivity">
        </activity>
        <activity
            android:name="com.property.activity.BaoxiuxiangqingActivity"
            android:label="@string/title_activity_inform"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.property.activity.ChakandatuActivity"
            android:label="@string/title_activity_inform"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.property.activity.FaultDeleteActivity"
            android:label="@string/title_activity_inform"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.property.activity.FaultProgressActivity"
            android:label="@string/title_activity_inform"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.property.activity.JiaofeiDetailActivity"
            android:label="缴费详情"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.property.activity.JiaofeiListActivity"
            android:label="缴费分类列表"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.property.activity.JiaofeifenleiActivity"
            android:label="缴费分类"
            android:theme="@android:style/Theme.Holo.Light">

            <!--TODO 物业-->
        </activity>
        <activity
            android:name="com.property.activity.JiaofeijiluActivity"
            android:label="缴费分类记录"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.property.activity.AnnouncementInfoActivity"
            android:label="@string/title_activity_inform"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.property.activity.AnnouncementListActivity"
            android:label="@string/title_activity_inform"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>


        <activity android:name="com.property.duotushangchuan.AlbumActivity"
                  android:label="@string/title_activity_inform"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <!-- 物业报修 -->

        <!-- TODO 生活服务 -->
        <activity android:name="com.LifeServices.activity.SecondTradeActivity"
                  android:label="二手物品"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.LifeServices.activity.OrderActivity"
                  android:label="详细信息"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.LifeServices.activity.ShopAllActivity"
                  android:label="商店信息"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.LifeServices.activity.ShopItemActivity"
                  android:label="商品信息"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <!-- 生活服务 -->


        <!-- 数据版本 -->
        <meta-data
            android:name="PW_CONFIG_SDK_IDENTIFIER_CODE"
            android:value="6"/>
        <meta-data
            android:name="PW_CONFIG_SDK_IDENTIFIER_STRING"
            android:value=""/>
        <!-- 网关连接服务 -->
        <service android:name="com.way.tabui.actity.GizService">
        </service>
        <!-- 极光推送 -->
        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.way"/>
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>

                <category android:name="com.way"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.way"/>
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name="com.way.tabui.commonmodule.JPushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="com.way"/>
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="016ad5173157a5c6cb7212f3"/>
        <!-- 极光推送 -->


        <!-- 百度推送 -->
        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true"/>
        <!-- push结束 -->


        <!-- 此处Receiver名字修改为当前包名路径 -->
        <receiver android:name="com.way.tabui.commonmodule.BaiDuPushReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <!-- 接收bind、setTags等method的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>
        <!-- 百度推送 -->


        <!-- <activity android:name="com.way.tabui.controlmodule.GosColorsListActivity"></activity> -->

    </application>

</manifest>